
.grid {
    display: flex;
    margin: 0 -15px;
}

.grid > .grid-item {
    padding: 15px;
}

.grid-large {
    display: flex;
    margin: 0 -27.5px;
}

.grid-large > .grid-item {
    padding: 0 27.5px;
    padding-bottom: 30px;
}